# Fichiers et dossiers à ignorer par git
/vendor/
/node_modules/
/.env
/.env.*
/storage/*.key
/storage/app/public/
/storage/framework/
/storage/logs/
/public/storage
/.idea/
/.vscode/
.DS_Store
Thumbs.db
*.log
composer.lock
package-lock.json
npm-debug.log
.env.local
.env.development.local
.env.test.local
.env.production.local
/public/hot
/public/build
/public/mix-manifest.json
/public/css/*.css.map
/public/js/*.js.map
/public/js/*.js
/public/css/*.css
/public/frontend/js/*.js
/public/frontend/css/*.css
/public/frontend/js/*.js.map
/public/frontend/css/*.css.map
/public/sliders/
/public/2148688502.jpg
/public/81586.jpg
/public/env-sample.txt
